.button{
    padding:0.8em 2.5em;
    border-radius: 20em;
    color:white;
    background-image:  linear-gradient(to right, #7359f5, #7964f1, #806eec, #8678e7, #8d82e2);
    border:none;
    margin-right:1em;
    cursor: pointer;
    display: inline-block;
}

.button :hover{
   
    transform: translateY(10em);
    background-color: white;
    color:#806eec;
    border:2px solid black;
}