.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    text-align: center;
    grid-template-rows: 0.5fr 0.4fr 0.5fr 0.5fr;
    height: 80%;
    width: 50%;
    grid-template-areas:    "one . three"
                            "one two . "
                            "four two five "
                            "four . five";
    gap:5em

}

.one{
   
    grid-area: one;
}
.two{
  
    grid-area: two;
 
}
.three{ 
   
    grid-area: three;
}
.four{
  
    grid-area: four;
}
.five{
  
    grid-area: five;
}
